# SLUS_201-99
SLUS_201-99/asm
SLUS_201-99/assets
SLUS_201.99

# Splat files
checksum.sha1
build.ninja
.splache
.splat/

# Build output
*.ld
asm/
assets/

# Compiler Configurations
MWCCPS2-2.4/

# Misc
Archive/
